body {
    margin: 0 auto;
    padding: 0;
}
h1 {
    font-size: 42px;
    text-align: center;
    margin-top: 5%;
    text-transform: uppercase;
}
.board {
    background-color: black;
    margin: 0 auto;
    padding: 0;
    width: 500px;
    min-height: 550px;
    border-radius: 100%;
    margin-top: 5%;
    position: relative;
    padding: 25px;
    z-index: 0;
}
.green {
    background-color: green;
    width: 225px;
    min-height: 250px;
    border-radius: 100% 0 0 0;
    float: left;
    z-index: 0;
    position: relative;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}
.red {
    background-color: #8B0000;
    width: 225px;
    min-height: 250px;
    border-radius: 0 100% 0 0;
    float: left;
    z-index: 0;
    position: relative;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}
.yellow {
    background-color: yellow;
    width: 225px;
    min-height: 250px;
    border-radius: 0 0 0 100%;
    float: left;
    z-index: 0;
    position: relative;
    border-top: 10px solid black;
    border-right: 10px solid black;
}
.blue {
    background-color: blue;
    width: 225px;
    min-height: 250px;
    border-radius: 0 0 100% 0;
    float: left;
    z-index: 0;
    position: relative;
    border-left: 10px solid black;
    border-top: 10px solid black;
}
.blackie {
    background-color: white;
    border: 20px solid black;
    width: 250px;
    height: 230px;
    border-radius: 100%;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    margin-top: 160px;
    color: black;
    font-weight: bold;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.blackie p {
    margin-top: 20%;
    font-size: 30px;
}
.btn {
    width: 70px;
    font-size: 9px;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    font-weight: bold;
}
.display {
    background-color: grey;
    margin: auto;
    width: 90px;
    border-radius: 50px;
    color: white;
    margin-bottom: 4px;
}